body{
    margin: 0px;
    padding: 0px;
}

#container {
    display: flex;
}

#map {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}

.section{
    box-shadow: inset 3px 4px 5px #f5f4f4;
}

#search{
    height: 32%;
}

.textbox{
    border-color: rgba(173, 173, 173, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    font-family: League Spartan;
    font-size: 15px;
    font-weight: 400;
    width: 350px;
    height: 32px;
    display: flex;
    padding: 9px 14px;
    position: absolute;
    align-items: center;
}

#departure{
    margin: 40px 20px;
    gap: 8px;
    top: 0px;
    left: 0px;
}

#arrival{
    margin: 40px 20px;
    gap: 8px;
    top: 60px;
    left: 0px;
}

.btn-interchange{
    margin: 80px 410px;
}

.btn-search{
    margin: -30px 300px;
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
    font-family: Lexend Exa;
    font-weight: 400;
    text-decoration: none;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 1);
}

.sidebar-btn {
    width: 40px;
    height: 40px;
    margin: 90px 200px 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

#btnControl {
    display: none;
}

#map{
    transition: margin-left .5s;
    padding: 16px;
}

/* -------------------------- RESULT -----------------------------*/

#result{
    font-size: 12px;
    font-family: Lexend Exa;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

#section-result{
    padding: 20px 20px 20px;
    font-size: 12px;
    font-family: Lexend Exa;
    font-weight: 400;
}

#distance-time-station{
    display: flex;
    flex-direction: row;
}

/*---------------  STATIONS INFORMATION ---------------- */
#distance-time{
    width: 280px;
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#distance{
    font-size: 30px;
    font-style: SemiBold;
    text-align: left;
    font-family: Lexend Exa;
    font-weight: 600;
}

#time{
    font-size: 15px;
    font-style: SemiBold;
    text-align: left;
    font-family: "League Spartan";
}

#stations{
    width: 265px;
    display: flex;
    padding: 0 16px;
    margin: -5px 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10000000149011612) ;
    align-items: flex-start;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}

.station-frame{
    gap: 12px;
    width: 150px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.line-color{
    width: 18px;
    height: 60px;
}

.station-name{
    gap: 10px;
    width: auto;
    display: flex;
    padding: 15px 0;
    align-items: flex-start;
    padding-right: 15px 0;
}

.departure-label, .arrival-label{
    color: rgb(0, 0, 0);
    width: 190px;
    font-size: 13px;
    text-align: left;
    font-family: "Lexend Exa";
    font-weight: 400;
}

.train-line{
    margin: 0px -15px 0px;
}

/*---------------  FARE INFORMATION ---------------- */
#fare{
    display: flex;
    flex-direction: row;
    margin: -10px;

}
.fare-frame{
    gap: 3px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}
.fare-label{
    width: 100px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: "Lexend Exa";
    font-weight: 600;
}

#time{
    align-self: center;
    margin: 0 30px;
}

.StoredValueLabel{
    color: rgb(0, 0, 0);
    width: auto;
    height: auto;
    font-size: 9px;
    font-style: Regular;
    text-align: left;
    font-family: "League Spartan";
    font-weight: 400;
}

.beep, .single-journey{
    color: rgba(0, 0, 0, 1);
    border: none;
    font-size: 10px;
    font-style: Regular;
    text-align: left;
    font-family: Lexend Exa;
    padding: 6px 20px;
    overflow: hidden;
    border-radius: 21px;   
}

.beep{
    height: 30px;
    width: 70px;
    background-color: rgba(133, 138, 134, 1);
}

.beep:hover{
    background-color: aqua;
}

.single-journey{
    height: 30px;
    width: 140px;
    background-color: rgba(133, 138, 134, 1);
}

.single-journey:hover{
    background-color: rgba(28, 194, 73, 1);
}

.fare-options{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
